</main>
<footer class="footer has-background-grey-lighter has-text-dark is-hidden-print">
  <div class="container">
    <div class="content has-text-right has-text-grey-dark">
      <strong>
        <%= configFunctions.getConfigProperty("application.applicationName") %>
      </strong><br />
      Build <%= buildNumber %>
      <span class="is-hidden-mobile is-hidden-tablet-only is-hidden-desktop-only is-hidden-widescreen-only">(fullhd)</span>
      <span class="is-hidden-mobile is-hidden-tablet-only is-hidden-desktop-only is-hidden-fullhd">(widescreen)</span>
      <span class="is-hidden-mobile is-hidden-tablet-only is-hidden-widescreen">(desktop)</span>
      <span class="is-hidden-mobile is-hidden-desktop">(tablet)</span>
      <span class="is-hidden-tablet">(mobile)</span>  <br />

      <a class="has-text-grey-dark" href="https://cityssm.github.io/parking-ticket-system/docs" target="_blank" rel="nofollow noreferrer">
        <i class="fas fa-question-circle" aria-hidden="true"></i>
        Help
      </a>
      <a class="has-text-grey-dark ml-4" href="https://github.com/cityssm/parking-ticket-system" target="_blank" rel="noreferrer">
        <i class="fab fa-github" aria-hidden="true"></i>
        GitHub
      </a>
    </div>
  </div>
</footer>
<script>
  window.exports = window.exports || {};
</script>
<script src="<%= urlPrefix %>/bulma-js/bulma-js.js"></script>
<script src="<%= urlPrefix %>/cityssm-bulma-webapp-js/dist/cityssm.min.js"></script>
<script>
  cityssm.htmlModalFolder ="<%= urlPrefix %>/html/";
  bulmaJS.init();
</script>
<script src="<%= urlPrefix %>/javascripts/main.js"></script>
<script src="<%= urlPrefix %>/cityssm-bulma-webapp-js/dist/cityssm-theme.min.js" defer></script>
