<%- include('_header'); -%>

<div class="columns is-variable is-4-mobile is-4-tablet is-block-print" id="is-site-layout">
  <%- include("_sideMenu-admin"); -%>
  <div class="column">
    <nav class="breadcrumb">
      <ul>
        <li><a href="/dashboard">Home</a></li>
        <li class="is-active">
          <a href="#" aria-current="page">
            <span class="icon is-small"><i class="fas fa-cog" aria-hidden="true"></i></span>
            <span>Parking By-Laws</span>
          </a>
        </li>
      </ul>
    </nav>

    <h1 class="title is-1">
      Parking By-Laws
    </h1>

    <div class="fixed-container is-fixed-bottom-right mr-4 mb-4 has-text-right is-hidden-print">
      <button class="button is-circle is-primary has-tooltip-left" id="is-add-bylaw-button" data-cy="add-bylaw" data-tooltip="Create a New By-Law" type="button" aria-label="Create a New By-Law">
        <i class="fas fa-plus" aria-hidden="true"></i>
      </button>
    </div>

    <div class="box">
      <div class="field">
        <label class="label" for="bylawFilter--bylaw">By-Law Description</label>
        <div class="control has-icons-left">
          <input class="input" id="bylawFilter--bylaw" type="text" />
          <span class="icon is-small is-left">
            <i class="fas fa-filter" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>

    <div id="bylawResults" data-cy="results"></div>
  </div>
</div>

<%- include('_footerA'); -%>

<script>
  exports.bylaws = <%- JSON.stringify(bylaws) -%>;
</script>

<script src="/javascripts/bylaw-maint.min.js"></script>

<%- include('_footerB'); -%>
