<%- include('_header'); -%>

<div class="columns is-block-print">
  <div class="column is-3 is-hidden-print">
    <%- include("_sideMenu-plates"); -%>
  </div>
  <div class="column">
    <nav class="breadcrumb">
      <ul>
        <li><a href="/dashboard">Home</a></li>
        <li><a href="/plates">Licence Plates</a></li>
        <li class="is-active"><a href="#" aria-current="page">MTO Licence Plate Export</a></li>
      </ul>
    </nav>

    <h1 class="title is-1">
      MTO Licence Plate Export
    </h1>

    <div class="card">
      <div class="card-content">
        <div class="field has-addons">
          <div class="control is-expanded">
            <span class="button is-fullwidth is-static justify-flex-start" id="batchSelector--batch">(No Batch Selected)</span>
          </div>
          <div class="control">
            <button class="button" id="is-select-batch-button" type="button">
              <span class="icon is-small"><i class="fas fa-search" aria-hidden="true"></i></span>
              <span>Select</span>
            </button>
          </div>
          <div class="control">
            <button class="button" id="is-create-batch-button" type="button">
              <span class="icon is-small"><i class="fas fa-plus" aria-hidden="true"></i></span>
              <span>Create</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div id="is-batch-entries-container"></div>

  </div>
</div>

<%- include('_footerA'); -%>

<% if (batch) { %>
  <script>
    pts.plateExportBatch = <%- JSON.stringify(batch) %>;
  </script>
<% } %>

<script src="/javascripts/mto-plateExport.min.js"></script>

<%- include('_footerB'); -%>
