<%- include('_header'); -%>

<div class="columns is-variable is-4-mobile is-4-tablet is-block-print" id="is-site-layout">
  <%- include("_sideMenu-admin"); -%>
  <div class="column">
    <nav class="breadcrumb">
      <ul>
        <li><a href="/dashboard">Home</a></li>
        <li class="is-active">
          <a href="#" aria-current="page">
            <span class="icon is-small"><i class="fas fa-cog" aria-hidden="true"></i></span>
            <span>Parking Offences</span>
          </a>
        </li>
      </ul>
    </nav>

    <h1 class="title is-1">
      Parking Offences
    </h1>

    <div class="fixed-container is-fixed-bottom-right mr-4 mb-4 has-text-right is-hidden-print">
      <button class="button is-circle is-primary has-tooltip-left" id="is-add-offence-button" data-tooltip="Create a New Offence" type="button">
        <i class="fas fa-plus" aria-hidden="true"></i>
        <span class="sr-only">Create a New Offence</span>
      </button>
    </div>

    <div class="box">
      <div class="columns">
        <div class="column">
          <label class="label" for="offenceFilter--location">Location</label>
          <div class="field has-addons">
            <div class="control is-expanded has-icons-left">
              <input class="input is-readonly" id="offenceFilter--location" type="text" placeholder="(All Locations)" readonly />
              <span class="icon is-left">
                <i class="fas fa-filter" aria-hidden="true"></i>
              </span>
            </div>
            <div class="control">
              <button class="button" id="is-select-location-filter-button" type="button">
                <span class="icon is-small"><i class="fas fa-search" aria-hidden="true"></i></span>
                <span>Select</span>
              </button>
            </div>
            <div class="control">
              <button class="button" id="is-clear-location-filter-button" type="button">
                <i class="fas fa-times" aria-hidden="true"></i>
                <span class="sr-only">Clear</span>
              </button>
            </div>
          </div>
          <p class="help" id="offenceFilter--locationText"></p>
        </div>
        <div class="column">
          <label class="label" for="offenceFilter--bylaw">By-Law</label>
          <div class="field has-addons">
            <div class="control is-expanded has-icons-left">
              <input class="input is-readonly" id="offenceFilter--bylaw" type="text" placeholder="(All By-Laws)" readonly />
              <span class="icon is-left">
                <i class="fas fa-filter" aria-hidden="true"></i>
              </span>
            </div>
            <div class="control">
              <button class="button" id="is-select-bylaw-filter-button" type="button">
                <span class="icon is-small"><i class="fas fa-search" aria-hidden="true"></i></span>
                <span>Select</span>
              </button>
            </div>
            <div class="control">
              <button class="button" id="is-clear-bylaw-filter-button" type="button">
                <i class="fas fa-times" aria-hidden="true"></i>
                <span class="sr-only">Clear</span>
              </button>
            </div>
          </div>
          <p class="help" id="offenceFilter--bylawText"></p>
        </div>
      </div>

      <div class="field">
        <div class="control has-text-right">
          <div class="facheck facheck-fas-checked has-checked-primary facheck-inline">
            <input id="offenceFilter--limitResults" type="checkbox" value="100" checked />
            <label for="offenceFilter--limitResults">
              Limit Results to 100 Records (Faster)
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-4" id="offenceResults"></div>
  </div>
</div>

<%- include('_footerA'); -%>

<script>
  exports.locations = <%- JSON.stringify(locations) -%>;
  exports.bylaws = <%- JSON.stringify(bylaws) -%>;
  exports.offences = <%- JSON.stringify(offences) -%>;

  exports.accountNumberPattern = <%- JSON.stringify(configFunctions.getProperty("parkingOffences.accountNumber.pattern").source) -%>;
</script>

<script src="/javascripts/offence-maint.min.js"></script>

<%- include('_footerB'); -%>
