<%- include('_header'); -%>

<div class="columns is-variable is-4-mobile is-4-tablet is-block-print" id="is-site-layout">
  <div class="column is-3 is-hidden-print has-background-white-bis">
    <aside class="menu">
      <p class="menu-label">
        Reports
      </p>
      <ul class="menu-list" id="tabs--reports" role="tablist">
        <li role="presentation">
          <a class="is-active" id="tab--ticketReports" role="tab" href="#tabContent--ticketReports" aria-selected="true">
            <span class="icon">
              <i class="fas fa-fw fa-file-invoice" aria-hidden="true"></i>
            </span>
            <span>Parking Tickets</span>
          </a>
        </li>
        <li role="presentation">
          <a id="tab--licencePlateReports" role="tab" href="#tabContent--licencePlateReports">
            <span class="icon">
              <i class="fas fa-fw fa-car" aria-hidden="true"></i>
            </span>
            <span>Licence Plates</span>
          </a>
        </li>
        <li role="presentation">
          <a id="tab--offenceReports" role="tab" href="#tabContent--offenceReports">
            <span class="icon">
              <i class="fas fa-fw fa-exclamation-triangle" aria-hidden="true"></i>
            </span>
            <span>Parking Offences</span>
          </a>
        </li>
      </ul>
    </aside>
    <div class="message is-info mt-3">
      <p class="message-body is-size-7">
        Note that more export options are available when viewing individual records.
      </p>
    </div>
  </div>
  <div class="column">

    <nav class="breadcrumb">
      <ul>
        <li><a href="/dashboard">Home</a></li>
        <li class="is-active"><a href="#" aria-current="page">Reports</a></li>
      </ul>
    </nav>

    <div class="tab-container">
      <div class="tab-content is-active" id="tabContent--ticketReports" role="tabpanel" aria-labelledby="tab--ticketReports">
        <h1 class="title is-1">
          Parking Ticket Reports
        </h1>
        <div class="columns">
          <div class="column">
            <div class="panel">
              <a class="panel-block align-items-flex-start" href="/reports/tickets-unresolved" download>
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-file " aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h2 class="title is-5 is-marginless">Unresolved Tickets</h2>
                  <p>
                    Includes all tickets that are considered unresolved.
                  </p>
                </div>
              </a>
            </div>
          </div>
          <div class="column">
            <div class="panel">
              <a class="panel-block align-items-flex-start" href="/reports/tickets-all" download>
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-table" aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h2 class="title is-5 is-marginless">Full Parking Tickets Table</h2>
                  <p>
                    All the data in the ParkingTickets table unfiltered.
                  </p>
                  <p class="is-size-7 is-italic">
                    Includes deleted records that have not been fully purged.
                  </p>
                </div>
              </a>
              <a class="panel-block align-items-flex-start" href="/reports/statuses-all" download>
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-table" aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h2 class="title is-5 is-marginless">Full Parking Ticket Status Log Table</h2>
                  <p>
                    All the data in the ParkingTicketStatusLog table unfiltered.
                  </p>
                  <p class="is-size-7 is-italic">
                    Includes deleted records that have not been fully purged.
                  </p>
                </div>
              </a>
              <a class="panel-block align-items-flex-start" href="/reports/remarks-all" download>
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-table" aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h2 class="title is-5 is-marginless">Full Parking Ticket Remarks Table</h2>
                  <p>
                    All the data in the ParkingTicketRemarks table unfiltered.
                  </p>
                  <p class="is-size-7 is-italic">
                    Includes deleted records that have not been fully purged.
                  </p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-content" id="tabContent--licencePlateReports" role="tabpanel" aria-labelledby="tab--licencePlateReports">
        <h1 class="title is-1">
          Licence Plate Reports
        </h1>
        <div class="columns">
          <div class="column">
            <div class="panel">
              <a class="panel-block align-items-flex-start" href="/reports/owners-reconcile" download>
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-file " aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h2 class="title is-5 is-marginless">Unreconciled Ownership Records</h2>
                  <p>
                    Includes unresolved parking tickets, and ownership records that may correspond to the licence plates.
                    Once marked as a match or an error on the Ownership Reconcillation page,
                    records will be removed from this report.
                  </p>
                </div>
              </a>
              <div class="panel-block align-items-flex-start">
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-file " aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h2 class="title is-5 is-marginless">Licence Plate Lookup Audit</h2>
                  <p>
                    Modeled after Ontario, Canada's Ministry of Transportation sample transaction log,
                    includes licence plate numbers, the date they were requested,
                    and the ticket number associated with the request.
                  </p>
                  <form action="/reports/lookupAudit" method="get">
                    <% let uid = stringFns.getUID(); %>
                    <div class="field has-addons">
                      <div class="control">
                        <label class="button is-static" for="<%= uid %>">
                          Batch ID
                        </label>
                      </div>
                      <div class="control is-expanded">
                        <input id="<%= uid %>" name="batchId" class="input" type="text" inputmode="numeric" placeholder="Optional" />
                      </div>
                      <div class="control">
                        <button class="button is-info" type="submit">Export</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="panel">
              <a class="panel-block align-items-flex-start" href="/reports/owners-all" download>
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-table" aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h2 class="title is-5 is-marginless">Full Licence Plate Owners Table</h2>
                  <p>
                    All the data in the LicencePlateOwners table unfiltered.
                  </p>
                  <p class="is-size-7 is-italic">
                    Includes deleted records that have not been fully purged.
                  </p>
                </div>
              </a>
              <a class="panel-block align-items-flex-start" href="/reports/lookupErrorLog-all" download>
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-table" aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h2 class="title is-5 is-marginless">Full Licence Plate Lookup Error Log Table</h2>
                  <p>
                    All the data in the LicencePlateLookupErrorLog table unfiltered.
                  </p>
                  <p class="is-size-7 is-italic">
                    Includes deleted records that have not been fully purged.
                  </p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-content" id="tabContent--offenceReports" role="tabpanel" aria-labelledby="tab--offenceReports">
        <h1 class="title is-1">
          Parking Offence Reports
        </h1>
        <div class="columns">
          <div class="column">
            <div class="panel">
              <a class="panel-block align-items-flex-start" href="/reports/locations-usageByYear" download>
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-file " aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h2 class="title is-5 is-marginless">Parking Location Usage by Year</h2>
                  <p>
                    Includes all parking locations used by parking tickets,
                    and parking ticket statistics by year.
                  </p>
                </div>
              </a>
              <a class="panel-block align-items-flex-start" href="/reports/bylaws-usageByYear" download>
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-file " aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h2 class="title is-5 is-marginless">Parking By-Law Usage by Year</h2>
                  <p>
                    Includes all parking by-laws used by parking tickets,
                    and parking ticket statistics by year.
                  </p>
                </div>
              </a>
            </div>
          </div>
          <div class="column">
            <div class="panel">
              <a class="panel-block align-items-flex-start" href="/reports/offences-all" download>
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-table" aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h2 class="title is-5 is-marginless">Full Parking Offences Table</h2>
                  <p>
                    All the data in the ParkingOffences table unfiltered.
                  </p>
                  <p class="is-size-7 is-italic">
                    Includes deleted records that have not been fully purged.
                  </p>
                </div>
              </a>
              <a class="panel-block align-items-flex-start" href="/reports/locations-all" download>
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-table" aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h2 class="title is-5 is-marginless">Full Parking Locations Table</h2>
                  <p>
                    All the data in the ParkingLocations table unfiltered.
                  </p>
                  <p class="is-size-7 is-italic">
                    Includes deleted records that have not been fully purged.
                  </p>
                </div>
              </a>
              <a class="panel-block align-items-flex-start" href="/reports/bylaws-all" download>
                <div class="has-text-centered my-2 ml-2 mr-3">
                  <span class="icon has-text-info">
                    <i class="fas fa-2x fa-table" aria-hidden="true"></i>
                  </span><br />
                  <span class="tag is-info">CSV</span>
                </div>
                <div>
                  <h2 class="title is-5 is-marginless">Full Parking By-Laws Table</h2>
                  <p>
                    All the data in the ParkingBylaws table unfiltered.
                  </p>
                  <p class="is-size-7 is-italic">
                    Includes deleted records that have not been fully purged.
                  </p>
                </div>
              </a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('_footerA'); -%>

<script src="/javascripts/report-search.min.js"></script>

<%- include('_footerB'); -%>
