<%- include('_header'); -%>

<div class="columns is-variable is-4-mobile is-4-tablet is-block-print" id="is-site-layout">
  <%- include("_sideMenu-tickets"); -%>
  <div class="column">
    <nav class="breadcrumb">
      <ul>
        <li><a href="/dashboard">Home</a></li>
        <li><a href="/tickets">Parking Tickets</a></li>
        <li class="is-active"><a href="#" aria-current="page">Ticket <%= ticket.ticketNumber %></a></li>
      </ul>
    </nav>

    <h1 class="title is-1">
      Ticket <%= ticket.ticketNumber %>
    </h1>

    <% if (ticket.resolvedDate) { %>
      <div class="message is-success">
        <div class="message-body is-clearfix">
          <p class="has-text-weight-bold">This ticket was resolved <%= ticket.resolvedDateString %>.</p>
          <% if (ticket.canUpdate) { %>
            <p class="has-margin-bottom-10">If further changes are required, you can remove the resolved status from the ticket.</p>
            <button class="button is-warning is-pulled-right" id="is-unresolve-ticket-button" data-ticket-id="<%= ticket.ticketID %>" type="button">
              <span class="icon is-small"><i class="fas fa-ban" aria-hidden="true"></i></span>
              <span>Remove Resolved Status</span>
            </button>
          <% } %>
        </div>
      </div>
    <% } %>

    <% if (ticket.canUpdate && !ticket.resolvedDate) { %>
      <div class="fixed-container is-fixed-bottom-right has-margin-20 has-text-right is-hidden-print">
        <a class="button is-circle is-primary has-tooltip-left" data-tooltip="Edit this Ticket" href="/tickets/<%=ticket.ticketID %>/edit">
          <i class="fas fa-pencil-alt" aria-hidden="true"></i>
          <span class="sr-only">Edit this Ticket</span>
        </a>
      </div>
    <% } %>

    <div class="columns">
      <div class="column is-4">
        <div class="panel">
          <h2 class="panel-heading">
            Ticket Details
          </h2>
          <div class="panel-block is-block">
            <strong>Issue Date/Time</strong><br />
            <%= ticket.issueDateString + " " + ticket.issueTimeString %>
          </div>
          <div class="panel-block is-block">
            <strong>Issuing Officer</strong><br />
            <%= ticket.issuingOfficer %>
          </div>
          <div class="panel-block is-block">
            <strong>Location</strong><br />
            <%= ticket.locationDescription %>
          </div>
          <div class="panel-block is-block">
            <strong>Parking Offence</strong><br />
            <%= ticket.parkingOffence %>
          </div>
          <div class="panel-block is-block">
            <div class="columns">
              <div class="column">
                <strong>Related By-Law</strong><br />
                <%= ticket.bylawNumber %>
              </div>
              <div class="column">
                <strong>Offence Amount</strong><br />
                $ <%= ticket.offenceAmount.toFixed(2) %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="panel">
          <h2 class="panel-heading">
            Vehicle Details
          </h2>
          <div class="panel-block is-block">
            <%
              const licencePlateLocationObj = configFns.getLicencePlateLocationProperties(ticket.licencePlateCountry, ticket.licencePlateProvince);
            %>
            <div class="columns">
              <div class="column is-narrow">
                <div class="licence-plate" style="--color:<%= licencePlateLocationObj.licencePlateProvince.color %>;--backgroundColor:<%= licencePlateLocationObj.licencePlateProvince.backgroundColor %>">
                  <div class="licence-plate-province"><%= licencePlateLocationObj.licencePlateProvinceAlias %></div>
                  <div class="licence-plate-number"><%= ticket.licencePlateNumber %></div>
                </div>
              </div>
              <div class="column">
                <p>
                  <strong>Vehicle Make/Model from Ticket</strong><br />
                  <%= ticket.vehicleMakeModel %>
                  <br />
                  <%= ticket.licencePlateExpiryDateString %>
                </p>
              </div>
              <div class="column">
                <%
                  if (ticket.licencePlateOwner) {
                %>
                  <p>
                    <strong>
                      Ownership Information
                    </strong>
                    <% if (ticket.licencePlateOwner.recordDate) { %>
                      <span class="tag is-info">
                        <%= ticket.licencePlateOwner.recordDateString %>
                      </span>
                      <% } else { %>
                        <span class="tag is-warning">
                          No Record Date
                        </span>
                      <% } %>
                    <br />
                    <span data-tooltip="Primary Owner" aria-label="Primary Owner">
                      <i class="fas fa-fw fa-user" aria-hidden="true"></i> <%= ticket.licencePlateOwner.ownerName1 %>
                    </span>
                    <% if (ticket.licencePlateOwner.ownerName2) { %>
                      <br />
                      <span data-tooltip="Secondary Owner" aria-label="Secondary Label">
                        <i class="fas fa-fw fa-user" aria-hidden="true"></i> <%= ticket.licencePlateOwner.ownerName2 %>
                      </span>
                    <% } %>
                    <% if (ticket.licencePlateOwner.vehicleNCIC) { %>
                      <br />
                      <span data-tooltip="Vehicle Make/NCIC from Ownership" aria-label="Vehicle Make/NCIC from Ownership">
                        <i class="fas fa-fw fa-car-side" aria-hidden="true"></i>
                        <%= ticket.licencePlateOwner.vehicleMake %>
                        <% if (ticket.licencePlateOwner.vehicleNCIC !== ticket.licencePlateOwner.vehicleMake) { %>
                          (<%= ticket.licencePlateOwner.vehicleNCIC %>)
                        <% } %>
                      </span>
                    <% } %>
                  </p>
                <%
                  } else {
                %>
                  <div class="message is-info is-small">
                    <p class="message-body">
                      Ownership information is not available for this licence plate.
                    </p>
                  </div>
                <%
                  }
                %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <div class="panel">
          <h2 class="panel-heading">Remarks</h2>
          <% if (ticket.remarks.length === 0) { %>
            <div class="panel-block is-block">
              <div class="message is-info is-small">
                <p class="message-body">
                  There are no remarks recorded for this ticket.
                </p>
              </div>
            </div>
          <% } else { %>
            <%
              for (let index = 0; index < ticket.remarks.length; index += 1) {
                const remarkObj = ticket.remarks[[index]];
            %>
              <div class="panel-block is-block">
                <p class="has-newline-chars"><%= remarkObj.remark %></p>
                <p class="is-size-7">
                  <%= remarkObj.recordUpdate_userName %>
                  -
                  <%= remarkObj.remarkDateString %>
                  <%= remarkObj.remarkTimeString %>
              </div>
            <%
              }
            %>
          <% } %>
        </div>
      </div>
      <div class="column">
        <div class="panel">
          <div class="panel-heading">
            <div class="level">
              <div class="level-left">
                <h2 class="has-text-weight-bold">Status</h2>
              </div>
              <div class="level-right">
                <% if (ticket.resolvedDate) { %>
                  <span class="tag is-success">
                    <span class="icon is-small"><i class="fas fa-check" aria-hidden="true"></i></span>
                    <span>Resolved <%=ticket.resolvedDateString %></span>
                  </span>
                <% } else { %>
                  <span class="tag is-warning">
                    Open
                  </span>
                <% } %>
              </div>
            </div>
          </div>
          <%
            for (let index = 0; index < ticket.statusLog.length; index += 1) {
              const statusLogEntryObj = ticket.statusLog[index];
              const statusObj = configFns.getParkingTicketStatus(statusLogEntryObj.statusKey) || {};
          %>
            <div class="panel-block is-block">
              <div class="level has-margin-bottom-5">
                <div class="level-left">
                  <strong><%= statusObj.status || statusLogEntryObj.statusKey %></strong>
                </div>
                <div class="level-right">
                  <%= statusLogEntryObj.statusDateString %>
                </div>
              </div>
              <% if (statusLogEntryObj.statusField && statusLogEntryObj.statusField !== "") { %>
                <div class="is-size-7">
                  <strong><%= (statusObj.statusField && statusObj.statusField.fieldLabel ? statusObj.statusField.fieldLabel + ":" : "") %></strong>
                  <%= statusLogEntryObj.statusField %>
                </div>
              <% } %>
              <div class="has-newline-chars is-size-7"><%= statusLogEntryObj.statusNote %></div>
            </div>
          <%
            }
          %>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('_footerA'); -%>

<% if (ticket.canUpdate) { %>
  <script src="/javascripts/ticket-view.min.js"></script>
<% } %>

<%- include('_footerB'); -%>
