<%- include('_header'); -%>

<div class="columns is-block-print">
  <%- include("_sideMenu-tickets"); -%>
  <div class="column">
    <nav class="breadcrumb">
      <ul>
        <li><a href="/dashboard">Home</a></li>
        <li class="is-active"><a href="#" aria-current="page">Tickets</a></li>
      </ul>
    </nav>

    <h1 class="title is-1">
      Find a Parking Ticket
    </h1>

    <form id="form--filters">
      <input id="filter--limit" name="limit" type="hidden" value="50" />
      <input id="filter--offset" name="offset" type="hidden" value="0" />
      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label" for="filter--ticketNumber"><%= configFns.getProperty("parkingTickets.ticketNumber.fieldLabel") %></label>
            <div class="control has-icons-left">
              <input class="input" id="filter--ticketNumber" name="ticketNumber" maxlength="10" />
              <span class="icon is-left is-small">
                <i class="fas fa-filter" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label" for="filter--licencePlateNumber">Licence Plate Number</label>
            <div class="control has-icons-left">
              <input class="input" id="filter--licencePlateNumber" name="licencePlateNumber" maxlength="15" />
              <span class="icon is-left is-small">
                <i class="fas fa-filter" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label" for="filter--location">Location</label>
            <div class="control has-icons-left">
              <input class="input" id="filter--location" name="location" maxlength="10" />
              <span class="icon is-left is-small">
                <i class="fas fa-filter" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label" for="filter--isResolved">Resolution Status</label>
            <div class="control is-expanded has-icons-left">
              <div class="select is-fullwidth">
                <select id="filter--isResolved" name="isResolved">
                  <option value="">(All Resolution Statuses)</option>
                  <option value="0" selected>Unresolved Tickets</option>
                  <option value="1">Resolved Tickets</option>
                </select>
              </div>
              <span class="icon is-left is-small">
                <i class="fas fa-filter" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="has-margin-top-20" id="container--searchResults"></div>
  </div>
</div>

<% if (user.userProperties.canCreate) { %>
  <div class="fixed-container is-fixed-bottom-right has-margin-20 has-text-right is-hidden-print">
    <a class="button is-circle is-primary has-tooltip-left" data-tooltip="Create a New Ticket" href="/tickets/new">
      <i class="fas fa-plus" aria-hidden="true"></i>
      <span class="sr-only">Create a New Ticket</span>
    </a>
  </div>
<% } %>

<%- include('_footerA'); -%>

<script src="/javascripts/ticket-search.min.js"></script>

<%- include('_footerB'); -%>
